html, body {
  font: 13px Helvetica Neue, Lucida Grande, sans-serif;
  height: 100%;
  margin: 0;
  background: rgb(236, 236, 236);
}


/* MARK: - Editor */

.editor {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 100%;
}

.layers-panel {
  position: relative;
  border-right: 1px solid rgb(184, 184, 184);
}
.canvas {
  -webkit-flex: 1;
  background: rgb(242, 242, 242);
}
.inspector-panel {
  position: relative;
  border-left: 1px solid rgb(184, 184, 184);
}

.panel-resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  cursor: col-resize;
}
.layers-panel > .panel-resizer {
  right: -3px;
}
.inspector-panel > .panel-resizer {
  left: -3px;
}
