html, body {
  font: 13px Helvetica Neue, Lucida Grande, sans-serif;
  height: 100%;
  margin: 0;
  background: rgb(236, 236, 236);
  -webkit-user-select: none;
}

.cursor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}


/* MARK: - Controls */

input,
input[type=number],
input[type=text],
input[type=password],
input[type=search] {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: .5px solid rgb(172, 172, 172);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .08);
}

input[type=number]::-webkit-outer-spin-button {
  width: 4px;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}
input[type=number]:hover::-webkit-inner-spin-button,
input[type=number]:focus::-webkit-inner-spin-button {
  display: block;
}

button {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  padding: 1px 5px;
  background: #fff;
  border: .5px solid rgb(172, 172, 172);
  border-radius: 3px;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .19);
  outline-offset: -2px;
}
button.icon16 {
  width: 28px;
  height: 18px;
}
button:active {
  background: linear-gradient(#fff .5px, transparent .5px), linear-gradient(rgb(230, 230, 230), rgb(221, 221, 221));
}

.segmented {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .19);
}
.segmented > button {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: inset -1px 0 rgb(229, 229, 229);
}
.segmented > button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: .5px solid rgb(172, 172, 172);
}
.segmented > button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: .5px solid rgb(172, 172, 172);
  box-shadow: none;
}


/* MARK: - Editor */

.editor {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 100%;
}

.layers.panel {
  position: relative;
  border-right: 1px solid rgb(184, 184, 184);
}
.canvas {
  -webkit-flex: 1;
  background: rgb(242, 242, 242);
}
.inspector.panel {
  width: 213px;
  border-left: 1px solid rgb(184, 184, 184);
}


/* MARK: - Panels */

.panel {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: rgb(230, 230, 230);
  font-size: 11px;
  letter-spacing: .035em;
}
.panel-header {
  border-bottom: 1px solid rgb(184, 184, 184);
  background: rgb(245, 245, 245);
  height: 26px;
}
.panel-content {
  -webkit-flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.panel-resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  cursor: col-resize;
}
.layers.panel > .panel-resizer {
  right: -3px;
}
.inspector.panel > .panel-resizer {
  left: -3px;
}


/* MARK: - Inspector */

.inspector section {
  padding: 8px 8px 9px;
  position: relative;
}
.inspector section::after {
  content: '';
  display: block;
  background: linear-gradient(to right, rgb(184, 184, 184), rgba(184, 184, 184, 0));
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.inspector .matrix {
  display: table;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  padding-bottom: 4px;
}
.inspector .matrix > .row {
  display: table-row;
}
.inspector .matrix > .row > * {
  display: table-cell;
}
.inspector .matrix .mid {
  width: 16px;
}
.inspector .matrix .field {
  width: 57px;
}
.inspector .matrix .field > input {
  width: 57px;
  height: 18px;
  padding: 0 3px;
}
.inspector .matrix .field > label {
  display: block;
  padding: 2px 0 5px;
  text-align: center;
  font-size: 9px;
}
