html, body {
  font: 13px Helvetica Neue, Lucida Grande, sans-serif;
  height: 100%;
  margin: 0;
}


/* MARK: - Editor */

.editor {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 100%;
}

.layers-panel {
  width: 200px;
}
.canvas {
  -webkit-flex: 1;
}
.inspector-panel {
  width: 200px;
}
